
###> ide ###
/.idea/
###< ide ###

###> symfony/framework-bundle ###
/.env.dev
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
